//
//  JXCommon.xcconfig
//  ConfigDemo
//
//  Created by hnbwyh on 2019/1/23.
//  Copyright © 2019年 JiXia. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) API_URL='$(API_URL)' JXPRODUCT_NAME='$(JXPRODUCT_NAME)' PRODUCT_NAME='$(PRODUCT_NAME)'
