//
//  JXDebug.xcconfig
//  ConfigDemo
//
//  Created by hnbwyh on 2019/1/23.
//  Copyright © 2019年 JiXia. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// 新接口地址
API_URL = @"172.16.10.76"

// 环境显示
JXPRODUCT_NAME = @"Debug环境"

// 引用/包含 JXCommon.xcconfig 文件
#include "JXCommon.xcconfig"
