<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>12011000</string>
		<key>title</key>
		<string>美国</string>
		<key>desc</key>
		<string>世界唯一超级大国</string>
	</dict>
	<dict>
        <key>id</key>
        <string>12021000</string>
        <key>title</key>
        <string>加拿大</string>
        <key>desc</key>
        <string>最适合居住的国家</string>
	</dict>
    <dict>
        <key>id</key>
        <string>11021000</string>
        <key>title</key>
        <string>新西兰</string>
        <key>desc</key>
        <string>大洋洲花园城市</string>
    </dict>
    <dict>
        <key>id</key>
        <string>11011000</string>
        <key>title</key>
        <string>澳大利亚</string>
        <key>desc</key>
        <string>南半球移民首选</string>
    </dict>
    <dict>
        <key>id</key>
        <string>11031000</string>
        <key>title</key>
        <string>瓦努阿图</string>
        <key>desc</key>
        <string>最幸福国家之一</string>
    </dict>
    <dict>
        <key>id</key>
        <string>12031000</string>
        <key>title</key>
        <string>圣基茨</string>
        <key>desc</key>
        <string>北美洲避税天堂</string>
    </dict>
    <dict>
        <key>id</key>
        <string>12041000</string>
        <key>title</key>
        <string>安提瓜</string>
        <key>desc</key>
        <string>全球畅行</string>
    </dict>
    <dict>
        <key>id</key>
        <string>13011000</string>
        <key>title</key>
        <string>西班牙</string>
        <key>desc</key>
        <string>欧洲经济强国</string>
    </dict>
    <dict>
        <key>id</key>
        <string>13021000</string>
        <key>title</key>
        <string>葡萄牙</string>
        <key>desc</key>
        <string>欧洲生活成本最低</string>
    </dict>
    <dict>
        <key>id</key>
        <string>13031000</string>
        <key>title</key>
        <string>塞浦路斯</string>
        <key>desc</key>
        <string>欧洲度假天堂</string>
    </dict>
    <dict>
        <key>id</key>
        <string>13041000</string>
        <key>title</key>
        <string>匈牙利</string>
        <key>desc</key>
        <string>欧洲生活的翘板</string>
    </dict>
    <dict>
        <key>id</key>
        <string>13051000</string>
        <key>title</key>
        <string>希腊</string>
        <key>desc</key>
        <string>投资额最低</string>
    </dict>
    <dict>
        <key>id</key>
        <string>13091000</string>
        <key>title</key>
        <string>马耳他</string>
        <key>desc</key>
        <string>欧洲避税天堂</string>
    </dict>
    <dict>
        <key>id</key>
        <string>13101000</string>
        <key>title</key>
        <string>英国</string>
        <key>desc</key>
        <string>教育强国</string>
    </dict>
    <dict>
        <key>id</key>
        <string>13111000</string>
        <key>title</key>
        <string>爱尔兰</string>
        <key>desc</key>
        <string>最适宜经商的国家</string>
    </dict>
    <dict>
        <key>id</key>
        <string>14011000</string>
        <key>title</key>
        <string>香港地区</string>
        <key>desc</key>
        <string>家门口购物天堂</string>
    </dict>
    <dict>
        <key>id</key>
        <string>14021000</string>
        <key>title</key>
        <string>新加坡</string>
        <key>desc</key>
        <string>亚洲花园城市</string>
    </dict>
    <dict>
        <key>id</key>
        <string>14031000</string>
        <key>title</key>
        <string>马来西亚</string>
        <key>desc</key>
        <string>24%的华人</string>
    </dict>
</array>
</plist>
