<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HotMigrationList</key>
	<dict>
		<key>Item2</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222122618&amp;idx=2&amp;sn=a9efda7535ac33c08b7b321ffc0f1f58&amp;scene=18#rd</string>
			<key>Title</key>
			<string>海那边助您DIY办理技术移民</string>
			<key>summarize</key>
			<string>技术移民作为占到整个移民总数3分之2人群的移民方式，同时也是拥有良好专业背景的人才移民到其他国家的唯一途径，但目前在中国技术移民相关的服务处于比较落后的状态。</string>
		</dict>
		<key>Item1</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222122618&amp;idx=1&amp;sn=5d1c7dc64a710f88c2a703b0eeb4926c&amp;scene=18#rd</string>
			<key>Title</key>
			<string>全球最热技术移民项目大全</string>
			<key>summarize</key>
			<string>全球热门技术移民项目，在海那边（www.hinabian.com）可以了解每个移民项目的详细资料，包括：申请条件、流程、材料清单、材料办理指引、费用等完整的资料。  </string>
		</dict>
	</dict>
	<key>MigrationDataList</key>
	<dict>
		<key>Item2</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222129812&amp;idx=2&amp;sn=75a4c227fd243e92c05175acc07fcc7e&amp;scene=18#rd</string>
			<key>Title</key>
			<string>美新澳加生活对比</string>
			<key>summarize</key>
			<string>美国 新西兰 澳大利亚 移民后生活对比,给你最贴切的指南。</string>
		</dict>
		<key>Item1</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222129812&amp;idx=1&amp;sn=d096a6c5a6e3ca5b0eb568c2f5c99552&amp;scene=18#rd</string>
			<key>Title</key>
			<string>全球移民数据对比</string>
			<key>summarize</key>
			<string>计划移民，就怕做出错的选择！面对美国、加拿大、澳大利亚、新西兰、欧洲这五大传统移民国家，你最应该选择去哪个国家，此生才不留遗憾？</string>
		</dict>
	</dict>
	<key>EntrepreneurshipList</key>
	<dict>
		<key>Item1</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222086797&amp;idx=1&amp;sn=f3005f7bbb5fb797ccde0437318154d0&amp;scene=18#rd</string>
			<key>Title</key>
			<string>创业成功之后，在国内你不过只能买几套房</string>
			<key>summarize</key>
			<string>创业维艰，时间不属于自己，牺牲个人爱好，经常半夜3、4点就醒了睡不着。为了资源我们东奔西跑，为了方向我们日思夜想不能成眠，为了团队我们甚至很久没有与家人常聚。</string>
		</dict>
	</dict>
	<key>HousePurchaseList</key>
	<dict>
		<key>Item3</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222115705&amp;idx=3&amp;sn=c90d19d85ec4636ef8b551920840f1a8&amp;scene=18#rd</string>
			<key>Title</key>
			<string>100套欧洲房产供您选择</string>
			<key>summarize</key>
			<string>100套房产任您挑选，专业选择，投资首选。</string>
		</dict>
		<key>Item2</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222115705&amp;idx=2&amp;sn=378b58e3e27aa5218edf848bfedbf4b5&amp;scene=18#rd</string>
			<key>Title</key>
			<string>最低“25万欧买套房”可申请欧洲移民</string>
			<key>summarize</key>
			<string>希腊议会已在2013年4月9日通过了“外国人购置房产送欧盟居留”的政策法案，旨在通过投资移民提振经济。</string>
		</dict>
		<key>Item1</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222115705&amp;idx=1&amp;sn=3276a4517d49a3c58531041e151368ee&amp;scene=18#rd</string>
			<key>Title</key>
			<string>移民一个国家，享有整个“欧洲福利”</string>
			<key>summarize</key>
			<string>欧盟护照将会是您通往优质生活的砝码，也将是您世界公民的象征。</string>
		</dict>
	</dict>
	<key>NewZealandList</key>
	<dict>
		<key>description</key>
		<string>世界上最后一片净土，大洋洲的“世外桃源”。</string>
		<key>livescore</key>
		<string>5</string>
		<key>welfarescore</key>
		<string>5</string>
		<key>educationscore</key>
		<string>4</string>
		<key>employmentscore</key>
		<string>4</string>
		<key>investmentscore</key>
		<string>4</string>
		<key>Item2</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222148424&amp;idx=2&amp;sn=f6e84b17c87c494ef19c49420a1e237b&amp;scene=18#rd</string>
			<key>Title</key>
			<string>新西兰投资移民</string>
			<key>summarize</key>
			<string> 新西兰投资移民共分为二类：第一类为投资1000万纽币，一步到位直接拿绿卡，没有经商\管理经验及语言的要求；第二类为投资150万纽币，需拥有3年以上的经商经验，主申请人雅思平均3分以上，投资150万纽币到新西兰4年。</string>
		</dict>
		<key>Item1</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222148424&amp;idx=1&amp;sn=7a36ac4e6e84d38888acc0275c864b9d&amp;scene=18#rd</string>
			<key>Title</key>
			<string>新西兰创业移民</string>
			<key>summarize</key>
			<string>创业移民是新西兰商业移民的另一个类别，申请人先获得12个月的工作签证，到新西兰后建立生意后签证可延长到3年，在新西兰做满2年生意后，即可申请转永居</string>
		</dict>
	</dict>
	<key>CanadaList</key>
	<dict>
		<key>description</key>
		<string>一步到位拿绿卡；投资安全可靠无风险；投资方式灵活。</string>
		<key>livescore</key>
		<string>5</string>
		<key>welfarescore</key>
		<string>5</string>
		<key>educationscore</key>
		<string>4.5</string>
		<key>employmentscore</key>
		<string>4.5</string>
		<key>investmentscore</key>
		<string>4.5</string>
		<key>Item2</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222146968&amp;idx=2&amp;sn=f1b4d5e6bd679e9260a66d7b10602594&amp;scene=18#rd</string>
			<key>Title</key>
			<string>加拿大魁省投资移民</string>
			<key>summarize</key>
			<string>一步到位拿绿卡，无任何附加条件；投资安全可靠无风险，均有加拿大政府监管</string>
		</dict>
		<key>Item1</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222146968&amp;idx=1&amp;sn=6733921fcf36a30cfb8ca2ce203828e5&amp;scene=18#rd</string>
			<key>Title</key>
			<string>加拿大联邦技术移民</string>
			<key>summarize</key>
			<string>加拿大联邦政府根据本国的就业市场状况，专业需求和国家整体发展规划，每年有计划的对外吸收人才，以弥补本国人口增长的缓慢和人才的不足。</string>
		</dict>
	</dict>
	<key>AustraliaList</key>
	<dict>
		<key>description</key>
		<string>澳大利亚是典型的移民国家，已先后有来自世界120个国家、140个民族的移民到澳大利亚谋生和发展</string>
		<key>livescore</key>
		<string>5</string>
		<key>welfarescore</key>
		<string>5</string>
		<key>educationscore</key>
		<string>4.5</string>
		<key>employmentscore</key>
		<string>4.5</string>
		<key>investmentscore</key>
		<string>5</string>
		<key>Item4</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222132977&amp;idx=4&amp;sn=caf884bf9e2842989a1fd1188e3bf334&amp;scene=18#rd</string>
			<key>Title</key>
			<string>澳大利亚家属移民</string>
			<key>summarize</key>
			<string>可长期居住在澳洲，且可在澳洲工作、学习；享有澳洲医疗福利待遇。</string>
		</dict>
		<key>Item2</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222132977&amp;idx=2&amp;sn=251186099d6a99e6a5b1294ab595dab8&amp;scene=18#rd</string>
			<key>Title</key>
			<string>澳大利亚技术移民</string>
			<key>summarize</key>
			<string>申请人凭自身的条件，不须州担保或雇主担保即可直接申请。由于申请条件高，只要申请人满足评分，即可快速一步到位拿到身份。</string>
		</dict>
		<key>Item3</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222132977&amp;idx=3&amp;sn=4b831ae07cba57080e691b8848db4393&amp;scene=18#rd</string>
			<key>Title</key>
			<string>澳大利亚投资移民</string>
			<key>summarize</key>
			<string>此签证申请对审计要求相对较松、注重公司的营业额，对投资金额要求不高，投资方式可灵活变通。</string>
		</dict>
		<key>Item1</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222132977&amp;idx=1&amp;sn=ba0144a54117f7014207ee185df1e6fb&amp;scene=18#rd</string>
			<key>Title</key>
			<string>中国人为什么如此喜欢移民澳大利亚：澳大利亚6成投资移民来自中国</string>
			<key>summarize</key>
			<string>在过去10年中，中国移民至澳大利亚的人数一直在稳步上升</string>
		</dict>
	</dict>
	<key>USAList</key>
	<dict>
		<key>description</key>
		<string>美国是众多移民人士向往的国家，这里不但有最优秀的教育体系，还有世界最先进的科学技术，最完善的市场经济管理。</string>
		<key>livescore</key>
		<string>4.5</string>
		<key>welfarescore</key>
		<string>4</string>
		<key>educationscore</key>
		<string>5</string>
		<key>employmentscore</key>
		<string>5</string>
		<key>investmentscore</key>
		<string>4</string>
		<key>Item4</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222150309&amp;idx=4&amp;sn=3721884eb1bff2b8eee0a3da8bb84300&amp;scene=18#rd</string>
			<key>Title</key>
			<string>洛杉矶质子治疗肿瘤中心</string>
			<key>summarize</key>
			<string>洛杉矶质子治疗中心建成后预计能够每年进行98874次治疗，平均每位患者接受30次治 疗，那么可以每年为约3293位患者进行治疗。</string>
		</dict>
		<key>Item3</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222150309&amp;idx=3&amp;sn=106b58d18fa655166252b1d4bbe0a6d0&amp;scene=18#rd</string>
			<key>Title</key>
			<string>【EB-5速度与激情】美国政府支持佛罗里达州高铁项目(II期)</string>
			<key>summarize</key>
			<string>1892年，佛罗里达州东海岸重要开发先，驱Henry Flagler建立佛州东海 岸第一条铁路，创立Florida EastCoast Industries。</string>
		</dict>
		<key>Item2</key>
		<dict>
			<key>url</key>
			<string>http://daveliang.hinabian.com/mobile/national/danGeGuoJia.html</string>
			<key>Title</key>
			<string>美国绿卡有什么好处？</string>
			<key>summarize</key>
			<string>美国绿卡是一种给外国公民的永久居住许可证。持有绿卡意味着持卡人拥有美国的永久居留权，并且能让您全家享有与合法永久居民相同的福利。</string>
		</dict>
		<key>Item1</key>
		<dict>
			<key>url</key>
			<string>http://daveliang.hinabian.com/mobile/national/danGeGuoJia-app.html</string>
			<key>Title</key>
			<string>如何获得美国绿卡?八种方式总有一个适合你</string>
			<key>summarize</key>
			<string>这些年，试图获得美国绿卡的中国人越来越多，那么他们是通过什么方式如愿以偿的呢?</string>
		</dict>
	</dict>
	<key>EuropeList</key>
	<dict>
		<key>investmentscore</key>
		<string>4.5</string>
		<key>employmentscore</key>
		<string>4</string>
		<key>educationscore</key>
		<string>4.5</string>
		<key>welfarescore</key>
		<string>4</string>
		<key>livescore</key>
		<string>5</string>
		<key>description</key>
		<string>欧洲全称欧罗巴洲，是世界上经济最发达的大洲，欧洲国家大多属于发达国家。教育和医疗水平都非常出色，是大部分人的移民首选</string>
		<key>Item5</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222146008&amp;idx=6&amp;sn=16ef47f37e1154e193d6ac590d74d3c6&amp;scene=18#rd</string>
			<key>Title</key>
			<string>罗马文化及伊特拉斯坎文明发源地---意大利</string>
			<key>summarize</key>
			<string>意大利是欧洲历史古国，在旧石器时代就已有人类在这片土地上生活。</string>
		</dict>
		<key>Item4</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222146008&amp;idx=5&amp;sn=b4f7b14355a930c61d7b0889d019a482&amp;scene=18#rd</string>
			<key>Title</key>
			<string>最富热情、活力的国度---西班牙</string>
			<key>summarize</key>
			<string>西班牙被称为欧洲最适合居住的国家之一，随着生活水平的提高，人口平均寿命在1980年就达到76岁，在欧洲仅次于荷兰。</string>
		</dict>
		<key>Item3</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222146008&amp;idx=4&amp;sn=b6a175ea3f89f5ba1a5c096632da1d44&amp;scene=18#rd</string>
			<key>Title</key>
			<string>色彩绚烂，令人着迷的移民生活---葡萄牙</string>
			<key>summarize</key>
			<string>据葡萄牙贸促局提供的资料显示，日前公布的 2015全球投资移民政策排行榜中，葡萄牙“黄金居留”投资移民政策位列第一名</string>
		</dict>
		<key>Item2</key>
		<dict>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222146008&amp;idx=3&amp;sn=4a3f433da378d0fd84aba5f091dd2189&amp;scene=18#rd</string>
			<key>Title</key>
			<string>欧洲顶级度假天堂---希腊</string>
			<key>summarize</key>
			<string>欧洲自推出购房移民项目以来，备受高资产人士青睐，在众多的购房移民项目中，哪个国家才是您心中所属？美丽的塞浦路斯？典雅的葡萄牙？还是神秘的希腊？</string>
		</dict>
		<key>Item1</key>
		<dict>
			<key>summarize</key>
			<string>近两年，塞浦路斯无疑是最令中国人津津乐道的一个移民目的地。这个地中海岛国，以30万欧元的门槛，吸引了不少国人前往置产移民，一圆欧洲梦。</string>
			<key>url</key>
			<string>http://mp.weixin.qq.com/s?__biz=MzA4NDMxNTM5Ng==&amp;mid=222146008&amp;idx=2&amp;sn=07835b2ae58a49d26fa81c604df7cdc1&amp;scene=18#rd</string>
			<key>Title</key>
			<string>爱神之岛---塞浦路斯护照</string>
		</dict>
	</dict>
</dict>
</plist>
