<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>codesCorrespondToH5s</key>
	<array>
		<array>
			<string>11011000</string>
			<string>12011000</string>
			<string>12021000</string>
			<string>11021000</string>
			<string>14011000</string>
			<string>13021000</string>
			<string>13031000</string>
			<string>13011000</string>
			<string>13051000</string>
			<string>13081000</string>
			<string>13041000</string>
			<string>14021000</string>
			<string>14031000</string>
			<string>12031000</string>
			<string>11031000</string>
			<string>13101000</string>
			<string>13111000</string>
		</array>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
		</array>
		<array>
			<string>1</string>
			<string>2</string>
			<string>4</string>
			<string>3</string>
		</array>
		<array>
			<string>20</string>
			<string>100</string>
			<string>300</string>
			<string>1000</string>
			<string>3000</string>
		</array>
		<array>
			<string></string>
		</array>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
		</array>
		<array>
			<string>7</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>5</string>
			<string>6</string>
		</array>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
		</array>
	</array>
	<key>choices</key>
	<array>
		<array>
			<string>澳大利亚</string>
			<string>美国</string>
			<string>加拿大</string>
			<string>新西兰</string>
			<string>香港</string>
			<string>葡萄牙</string>
			<string>塞浦路斯</string>
			<string>西班牙</string>
			<string>希腊</string>
			<string>意大利</string>
			<string>匈牙利</string>
			<string>新加坡</string>
			<string>马来西亚</string>
			<string>圣基茨</string>
			<string>瓦努阿图</string>
			<string>英国</string>
			<string>爱尔兰</string>
		</array>
		<array>
			<string>子女在海外教育</string>
			<string>子女在国内上国际学校</string>
			<string>海外生育</string>
			<string>海外医疗／养老福利</string>
			<string>出入境方便</string>
			<string>经营海外企业</string>
			<string>海外避税/公司上市</string>
			<string>海外房产投资</string>
		</array>
		<array>
			<string>永久居民</string>
			<string>护照</string>
			<string>居留签证</string>
			<string>工作签证</string>
		</array>
		<array>
			<string>100万以内</string>
			<string>100万-500万</string>
			<string>500万-1000万</string>
			<string>1000万-3000万</string>
			<string>3000万以上</string>
		</array>
		<array>
			<string>万</string>
		</array>
		<array>
			<string>高中中专以下</string>
			<string>高中中专</string>
			<string>大专</string>
			<string>本科</string>
			<string>硕士或以上</string>
		</array>
		<array>
			<string>完全不会</string>
			<string>专业英语8级（雅思7分及以上）</string>
			<string>大学英语6级优秀（雅思6分）</string>
			<string>学英语6级（雅思5分）</string>
			<string>大学英语4级（雅思4分）</string>
			<string>中学英语水平（雅思3分）</string>
		</array>
		<array>
			<string>每年住1个月</string>
			<string>每年住半年</string>
			<string>连续住满2年</string>
			<string>累积住满2年</string>
			<string>可接受任何居住要求</string>
			<string>不方便居住</string>
		</array>
	</array>
	<key>notes</key>
	<array>
		<string>最多选3个</string>
		<string>最多选3个</string>
		<string></string>
		<string>人民币</string>
		<string>人民币</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>subTitles</key>
	<array>
		<array>
			<string></string>
		</array>
		<array>
			<string></string>
		</array>
		<array>
			<string>点击可查看各类型身份说明</string>
			<string>永久居民:允许持有人无条件在该国居住，通常享有与该国公民同等福利待遇,如教育、医疗和养老</string>
			<string>护照:获得一个国家护照的前提是入籍成为公民，方可申请该国护照</string>
			<string>居留签证:通常是永久居民身份前的过渡性签证；允许持有人无条件在该国居住，但不享有永久居住民同等福利待遇</string>
			<string>工作签证:允许持有人在该国临时或长期工作，通常签发给去该国工作或开展生意的申请人；一般不享有永久居住民同等福利待遇</string>
		</array>
		<array>
			<string>包括夫妻双方存款、股票基金、房产和公司股权等</string>
		</array>
		<array>
			<string>如果是投资移民,您的移民资金中的投资款根据不同的项目会返还给您</string>
		</array>
		<array>
			<string></string>
		</array>
		<array>
			<string>英语雅思</string>
			<string>法语TEF成绩(没有则不填写)</string>
		</array>
		<array>
			<string>部分移民项目对主申请人有在当地的居住要求</string>
		</array>
	</array>
	<key>titles</key>
	<array>
		<string>1.移民意向国家</string>
		<string>2.您的移民目的</string>
		<string>3.您想要获得签证类型</string>
		<string>4.您的家庭净资产</string>
		<string>5.您将用于移民预算</string>
		<string>6.您的最高学历</string>
		<string>7.您的外语能力</string>
		<string>8.您可接受的居住时间要求</string>
	</array>
	<key>redFlags</key>
	<array>
		<string>0</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
	</array>
</dict>
</plist>
