<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>亚洲</key>
	<dict>
		<key>菲律宾</key>
		<string>14041000</string>
		<key>马来西亚</key>
		<string>14031000</string>
		<key>新加坡</key>
		<string>14021000</string>
		<key>香港</key>
		<string>14011000</string>
	</dict>
	<key>大洋洲</key>
	<dict>
		<key>澳大利亚</key>
		<string>11011000</string>
		<key>新西兰</key>
		<string>11021000</string>
	</dict>
	<key>热门国家</key>
	<dict>
		<key>匈牙利</key>
		<string>13041000</string>
		<key>葡萄牙</key>
		<string>13021000</string>
		<key>香港</key>
		<string>14011000</string>
		<key>新西兰</key>
		<string>11021000</string>
		<key>加拿大</key>
		<string>12021000</string>
		<key>澳大利亚</key>
		<string>11011000</string>
		<key>美国</key>
		<string>12011000</string>
	</dict>
	<key>美洲</key>
	<dict>
		<key>安提瓜</key>
		<string>12041000</string>
		<key>圣基茨&amp;尼维斯联邦</key>
		<string>12031000</string>
		<key>加拿大</key>
		<string>12021000</string>
		<key>美国</key>
		<string>12011000</string>
	</dict>
	<key>欧洲</key>
	<dict>
		<key>英国</key>
		<string>13101000</string>
		<key>马耳他</key>
		<string>13091000</string>
		<key>意大利</key>
		<string>13081000</string>
		<key>德国</key>
		<string>13071000</string>
		<key>荷兰</key>
		<string>13061000</string>
		<key>希腊</key>
		<string>13051000</string>
		<key>匈牙利</key>
		<string>13041000</string>
		<key>塞浦路斯</key>
		<string>13031000</string>
		<key>葡萄牙</key>
		<string>13021000</string>
		<key>西班牙</key>
		<string>13011000</string>
	</dict>
</dict>
</plist>
